[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/q/OpenDocument Spreadsheet.ods]
row=4
col=0

[/home/q/pics]
row=6
col=0

[/home/q/temp]
row=5
col=0

[/home/q/OpenDocument Text.odt]
row=3
col=0

[/home/q/bin]
row=1
col=1

[/home/q/Plain Text.txt]
row=2
col=1

[/home/q/music]
row=7
col=0

[/home/q/docs]
row=0
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/q]
row=2
col=0

