[user]
	name = David Winn
	email = q@qypea.com
[log]
	decorate = short
[diff]
	submodule = log
[push]
	default = simple
[alias]
	rgrep = "!f() { gitgreptmp=\"$1\"; { git --no-pager grep \"$gitgreptmp\" & git submodule foreach --recursive \"git --no-pager grep \\\"$gitgreptmp\\\" || true\"; } }; f"
	smu = "submodule update --init --recursive"
