"*":
  "autocomplete-clang": {}
  "autocomplete-plus":
    autoActivationDelay: 100
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
    enableAutoConfirmSingleSuggestion: false
  build:
    matchedErrorFailsBuild: false
    refreshOnShowTargetList: true
    saveOnBuild: true
    scrollOnError: true
  "build-make":
    useMake: true
  "clang-format":
    fallbackStyle: "WebKit"
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "open-on-github"
      "build-make"
    ]
    projectHome: "/home/q"
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    preferredLineLength: 120
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "49eb801d-9dd0-494b-a71e-7a886a0f40c8"
  "git-blame":
    colorCommitAuthors: true
    ignoreWhiteSpaceDiffs: true
  "linter-clang":
    clangDefaultCFlags: "-Wall -Wextra -Wno-unused-parameter"
    clangDefaultCppFlags: "-Wall -std=c++11 -Wextra -Wno-unused-parameter"
  "linter-ui-default":
    showPanel: true
  "spell-check":
    addKnownWords: true
    knownWords: [
      "cout"
      "endl"
      "rbegin"
      "dir"
      "cerr"
      "bool"
      "iostream"
      "hpp"
      "argv"
      "argc"
      "const"
      "Noop"
      "namespace"
      "endif"
      "ostream"
      "typedef"
      "enum"
      "ifndef"
      "cpp"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
